{{ form_start(form, {'attr': {'id': 'manage-task-form'}}) }}
{{ form_widget(form) }}
<button type="submit" class="waves-effect waves-light btn">{{ 'form.add_tasks.submit'|trans }}</button>
{{ form_end(form) }}
