{% extends "base.html.twig" %}

{% block body %}
    test
    {#<div class="panel panel-default">#}
        {#<table class="table">#}
            {#{% for task in tasks %}#}
                {#<tr>#}
                    {#<td>#}
                        {#{{ task.description }}#}
                    {#</td>#}
                {#</tr>#}
            {#{% endfor %}#}
        {#</table>#}
    {#</div>#}
{% endblock %}