body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.child-top-margin > * {
  margin-top: 15px;
}

.logo {
  max-width: 200px;
  margin: 20px auto;
  display: block;
}

.row {
  margin-bottom: 60px;
}
