body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.search {
  padding: 0 !important;
}

@media (max-width: 1043px) {
  nav ul a {
    padding: 0 10px;
  }
}

.profile-pic-container.student img {
  max-height: 300px;
}

.profile-pic-container.teacher img {
  max-height: 200px;
}
