body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.search {
  padding: 0 !important;
}

@media (max-width: 1043px) {
  nav ul a {
    padding: 0 10px;
  }
}

@media (min-width: 992px) {
  header {
    z-index: 2;
  }
}
