body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.search {
  padding: 0 !important;
}

a {
  color: #26a69a;
}

.select-wrapper span.caret {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #808080 transparent transparent transparent;
}

// Profile information

.card .card-content {
  width: 100%;
}

.card.information b {
  font-weight: 400;
}

// Profile point history

.collection .collection-item.avatar .secondary-content {
  > * {
    margin-left: 5px;
  }
  top: 10px;
  display: inline-flex;
}

#task-form-preloader, #points-form-preloader, #edit-points-form-preloader {
  height: 200px;
}

.form-preloader-center {
  margin: auto;
}

// Task list

.btn-large {
  span {
    font-size: 1.5rem;
  }
  width: 100%;
  @media only screen and (max-width: 1069px) {
    padding: 0 1rem;
  }
}

.collapsible-body {
  p {
    padding: 0;
  }
  position: relative;
  padding: 20px;
  padding-top: 10px;
}

.collapsible-title {
  line-height: 48px;
  font-size: 24px;
  font-weight: 300;
}

.task-buttons {
  > * {
    margin-left: 5px;
  }
  display: flex;
  position: absolute;
  top: 10px;
  right: 20px;
}

.task-points {
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  width: 42px;
  height: 42px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

// Media queries

@media only screen and (min-width: 992px) {
  header {
    z-index: 2;
  }
}

@media only screen and (max-width: 600px) {
  .flex-container {
    display: inline-flex;
    flex-direction: column-reverse;
    width: 100%;
  }
}

@media only screen and (max-width: 1064px) {
  nav ul a {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1330px) {
  .name-points h2 {
    margin: 0;
  }
}


