{% extends "EdukodasTemplateBundle::base.html.twig" %}

{% block body %}

    <div class="row" style="clear: both;"><!-- Modal Structure -->
        <div id="edit-task-modal" class="modal">
            <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
        {% for course in user.courses %}
            <div class="divider"></div>
            <div class="section">
                <h4>{{ course.name }}</h4>
                <table class="striped">
                    <tbody>
                        {% for task in course.tasks %}
                            <tr>
                                <td>
                                    <h5>{{ task.name }}</h5>
                                    {{ task.description }}
                                </td>
                                <td>
                                    <h5>{{ task.points }}</h5>
                                </td>
                                <td>
                                    <a id="edit-task" class="btn-floating btn-small waves-effect waves-light red" href="#edit-task-modal"><i class="small material-icons">mode_edit</i></a>
                                </td>
                            </tr>
                        {% else %}
                            No tasks
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="divider"></div>
            No courses
        {% endfor %}
    </div>
{% endblock %}
