{% extends "EdukodasTemplateBundle::base.html.twig" %}

{% block body %}

    <div class="row" style="clear: both;">
        <!-- Modal Structure -->
        <div id="manage-task-modal" class="modal valign-wrapper">
            <div class="modal-content">
            </div>
        </div>
        <h4>Add task <a
                    class="btn-floating btn-small waves-effect waves-light red"
                    data-task-action="edukodas_tasks_add"
                    href="#manage-task-modal">
                <i class="small material-icons">note_add</i>
            </a></h4>
        <div id="tasks-list">
            {% include "EdukodasTemplateBundle:tasks:listtasks.html.twig" %}
        </div>
    </div>
{% endblock %}
