<div id="edit-points-modal" class="modal valign-wrapper">
    <div class="modal-content">
        <div class="form-content">
        </div>
        <div class="hide valign-wrapper" id="edit-points-form-preloader">
            <div class="form-preloader-center">
                <div class="preloader-wrapper big active valign">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
