{% extends '::base.html.twig' %}

{% block title %}Weather report{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>
        body {
            margin: 0;
            padding: 0;
            font-weight: 100;
            font-family: 'Lato';
        }

        .weather-report {
            margin: 20px auto;
            text-align: center;
            font-size: 48px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="weather-report">This is weather report, type in a city after /</div>
{% endblock %}