{% extends "EdukodasTemplateBundle::base.html.twig" %}

{% block title %}- {{ 'menu.navigation.settings'|trans }}{% endblock %}

{% block main %}
    <div class="container">
        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    </div>
{% endblock main %}
