{% extends 'EdukodasTemplateBundle::base.html.twig' %}

{% block header %}
    {% include 'EdukodasTemplateBundle:inc:header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="title">Hello world!</div>
{% endblock %}